
.topCont{
  padding-top: 20px;
  position: relative;
  background-color: #EAF6F6;
}
body{
  text-align: center;
  font-family: verdana,sans-serif;
  margin:0;
}
h1{
  margin: 90px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.26rem;
  color: #66BFBF;
  line-height: 2;
}
h2{
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}
h3,a{
  color: #11999E;
}
.pro{
  text-decoration: underline;
}
.nube1{
  position: absolute;
  top:30px;
  right: 200px;
}
.nube2{
  position: absolute;
  bottom: 330px;
  left: 200px;
}

.midCont{
  color: #40514E;
}
.perfil{
  width: 35%;
  margin: 20px auto 0 auto;
}
.miFoto{
  width: 40%;
  border-radius: 100%;
}
hr{
  border-style: dotted none none none;
  border-width: 8px;
  border-color: #EAF6F6;
  width: 5%;
  margin: 90px auto 90px auto;
}
.skill-row{
  width: 50%;
  margin: 80px auto 0 auto;
  text-align: left;
  line-height: 2;
}
.iconCode{
  width: 25%;
  float: left;
  margin-right: 40px;
}
.iconVid{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.contact-me{
  width: 50%;
  margin: 80px auto 80px auto;
}
.desc-cont{
  line-height: 2;
  margin: 30px auto 60px auto;
}
.btn{
  background: #11cdd4;
 background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
background-image: -o-linear-gradient(top, #11cdd4, #11999e);
background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin: 80px auto 80px auto;
  text-decoration: none;
}
.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.botCont{
  background-color: #66BFBF;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-link{
  color: #11999E;
  margin: 20px 10px;
  text-decoration: none;
}
.footer-link:hover{
  text-decoration: underline;
}
.copyR{
  color: #BFF6F6;
  margin-top: 30px;
  font-size: 0.85rem;
}
